In [1]:
import numpy as np
import pandas as pd
import sympy as sp

from utilities import *

In [2]:
SLOPE_ANGLE = 3 * sp.pi / 360
DETECTOR_ANGLE = 2 * sp.pi / 3
CENTER_WATER_DEPTH = 120

PRECISION = 20

NM_TO_M = 1852

In [3]:
# 创建一个 dataframe 用于存储数据
index = np.arange(0, 8)
angles = index * sp.pi / 4
columns = ['direction_angle', *np.arange(0.0, 2.4, 0.3)]
df = pd.DataFrame(index=index, columns=columns)
df['direction_angle'] = angles
df

,direction_angle,0.0,0.3,0.6,0.8999999999999999,1.2,1.5,1.7999999999999998,2.1
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pi/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pi/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3*pi/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5*pi/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3*pi/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7*pi/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
field = Field(1000, 1000, CENTER_WATER_DEPTH, SLOPE_ANGLE, PRECISION)

for i in index:
    # 读取方向角
    direction_angle = df['direction_angle'][i]

    for j in range(1, len(df.columns)):
        # 读取距离
        distance_from_center = df.columns[j] * NM_TO_M
        # 计算探测器坐标
        x = distance_from_center * sp.cos(direction_angle)
        y = distance_from_center * sp.sin(direction_angle)
        # 创建探测器
        detector = Detector(field, x, y, direction_angle=direction_angle, detector_angle=DETECTOR_ANGLE, precision=PRECISION)
        # 计算探测器扫描线段长度
        detector.get_scan_segment()
        df.iloc[i, j] = detector.scan_segment_length_proj_xy

df

,direction_angle,0.0,0.3,0.6,0.8999999999999999,1.2,1.5,1.7999999999999998,2.1
0,0,415.69219381653055044,466.09105495939007306,516.48991610224959566,566.88877724510911828,617.28763838796864088,667.68649953082816350,718.08536067368768610,768.48422181654720869
1,pi/4,416.12019579714518009,451.79426497234900493,487.46833414755282979,523.14240332275665463,558.81647249796047947,594.49054167316430430,630.16461084836812917,665.83868002357195401
2,pi/2,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616
3,3*pi/4,416.12019579714518009,380.44612662194135525,344.77205744673753041,309.09798827153370558,273.42391909632988072,237.74984992112605587,202.07578074592223103,166.40171157071840618
4,pi,415.69219381653055044,365.29333267367102784,314.89447153081150522,264.49561038795198262,214.09674924509246000,163.69788810223293740,113.29902695937341479,62.900165816513892190
5,5*pi/4,416.12019579714518009,380.44612662194135525,344.77205744673753041,309.09798827153370558,273.42391909632988072,237.74984992112605587,202.07578074592223103,166.40171157071840618
6,3*pi/2,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616,416.54908003873492616
7,7*pi/4,416.12019579714518009,451.79426497234900493,487.46833414755282979,523.14240332275665463,558.81647249796047947,594.49054167316430430,630.16461084836812917,665.83868002357195401

In [5]:
df.to_csv('2.csv', index=False)